:root {
	--grey-color: #D3D3D3;
	--main-color:rgb(30,30,30);
	--white-color:#ffffff;
	--menuBg-color:rgb(77,77,77);
}

body, html {
	margin: 0;
	padding: 0;
}

/* Header PHP CSS */
.header-wrap{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.header-wrap nav .logo {
	width:200px;
	margin-left: 50px;
}

/* Homepage ONLY CSS */

.hero-wrap {
	width: 100%;
	height: 100%;
	position: fixed; 
}

.hero-wrap .overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .5;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0% ,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	z-index: -1;
}

.hero-wrap .slider-text {
	color: #fff;
	position: relative; 
}

.hero-wrap .slider-text h3.v {
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	text-orientation: sideways;
	text-align: center;
	text-orientation: sideways;
	margin: 0rem;
	position: fixed;
	top: 0;
	left: 20px;
	height: 100%;
	font-family: "Roboto Condensed", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 18px;
	z-index: 1; 
}

.hero-wrap .slider-text h3.vr {
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	text-orientation: sideways;
	text-align: center;
	text-orientation: sideways;
	margin: 0rem;
	position: fixed;
	top: 0;
	right: 20px;
	height: 100%;
	font-family: "Roboto Condensed", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 12px;
	z-index: 1; 
}

/* HEADER IMAGE */
.headerImage {
	background:url('../images/cover_2.jpg') no-repeat center center/cover;
	width:100%;
	height:300px;
	position: relative;
	top: 94px;
	left: 0px;
}

.headerImage::before {
	content:'';
	background-color:var(--menuBg-color);
	opacity:0.5;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

.headerImage h1 {
	color:var(--white-color);
	font-size:3.5rem;
	text-shadow: 1px 2px 3px var(--main-color);
	z-index:1;
}

.blogImage {
	background:url('../images/blog.jpg') no-repeat center center/cover;
	width:100%;
	height:300px;
	position: relative;
	top: 94px;
	left: 0px;
}

.blogImage::before {
	content:'';
	background-color:var(--menuBg-color);
	opacity:0.5;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

.blogImage h1 {
	color:var(--white-color);
	font-size:3.5rem;
	text-shadow: 1px 2px 3px var(--main-color);
	z-index:1;
}

/* Navbar CSS */
#navbar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:var(--main-color);
	height:auto;
	position: fixed;
	padding:1rem;
	width:100%;
	z-index:2;
}

#navbar img {
	display:block;
}

#navbar ul {
	list-style: none;
	margin-bottom:0 !important;
	margin-right: 20px;
}

#navbar ul li {
	color: #333;
	display: inline-block;
	padding:1rem;
	position: relative;
}

#navbar ul li a {
	color:var(--white-color);
	text-decoration: none;
}

#navbar form input {
	border:none;
	border-radius:2px;
	padding:3px;
	padding-left:10px;
}


/* Hide nested ul by default */
#navbar ul li ul {
	display: none;
}

#navbar ul li li {
	background:var(--menuBg-color);
}

#navbar ul li:hover {
	cursor: pointer;
	background: var(--primary-color);
	color:var(--white-color);
}

#navbar ul li:hover a {
	color:var(--white-color);
} 

.fas {
	color:var(--white-color);
	padding:0 0.5rem;
}

#navbar form button {
	border-radius:2px;
	background-color: var(--white-color);
}

/* Nested dropdown show */
#navbar ul li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	width: 200px;
	margin-top: 1rem;
}

#navbar ul li:hover ul li {
	display: block;
}

#navbar ul li:hover ul li a {
	color:var(--white-color);
}

#navbar ul li:hover ul li:hover {
	background:var(--menuBg-color);
	color: inherit;
	text-decoration: underline;
}

#homeHeader {
	position: relative;
	top: 550px;
	left: -350px;
	text-shadow: 1px 2px 3px var(--main-color);
}

#homeSub {
	position: relative;
	top: 550px;
	left: -175px;
}

/* Modal CSS */

.modal-header {
	border-top-left-radius: 0 !important;
	border-top-right-radius:0 !important;
	border-bottom: 0 !important;
}

.modal-content {
	border: 0 !important;
	border-radius: 0 !important;
}

/* Content CSS */
.main1 {
	position: relative;
	top:50px;
	padding-bottom:3rem;
	line-height: 2;
}

.main {
	position: relative;
	top:50px;
	padding-bottom:7rem;
	line-height: 2;
}

.shopMain {
	grid-template-columns: repeat(3,250px);
	grid-template-rows: repeat(3,260px);
	grid-gap: 2rem;
	display: grid;
	padding-bottom:7rem;
	justify-items: center;
	align-items: center;
}

.filter {
	position: relative;
	top: 150px;
}

.shopContent {
	position: relative;
	top: 150px;
}

/* Shop Detailed */
section {
	padding-top:120px;
	margin-bottom:200px;
}

section .name {
	color:var(--menuBg-color);
}

.far,
.fas {
	color:var(--menuBg-color);
}

.fa-shopping-cart {
	color:var(--main-color);
}

.nav-item a {
	color:var(--main-color);
}

button:hover {
	color:var(--white-color) !important;
}

.btn-labeled {
	background:var(--main-color);
	color:var(--white-color);
	padding-top:0;
	padding-bottom:0;
	border:none;
}

.btn-label {
	position: relative;
	left:-12px;
	display:inline-block;
	padding:6px 12px;
	background:var(--white-color);
	border-radius:3px 0 0 3px;
	border:1px solid var(--main-color);
}

.thumbImage {
	display: grid;
}

.blogContent {
	position: relative;
	top: 150px;
	padding-bottom:7rem;
}

.blogMain {
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-gap: 2rem;
	display: grid;
	padding-bottom:7rem;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.blogImage {
	display: block;
	justify-content: center;
	justify-items:center;
	align-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

@media(max-width:1280px){

	#navbar {
		justify-content: center;
		flex-flow:column;
		height:auto;
	}

	#navbar img {
		padding-top:2rem;
		display:block;
		text-align: center;
	}

	#homeHeader { 
		left: 0px;
	}

	#homeSub {
		left: 0px;
	}

}

@media(max-width:1180px){
	
	.shopMain {
		grid-template-columns: 350px;
		grid-template-rows: auto;
		justify-items: left;
		align-items: left;
		padding-left: 2rem;
	}
	
	.thumbImage {
		grid-template-columns: repeat(2,1fr);
		grid-gap: 2rem;
	}
	
	.blogMain {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: auto;
	}
	
}

@media(max-width:850px){

	#navbar {
		text-align: center;
	}
		
	.blogMain {
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: auto;
	}

}


@media(max-width: 600px) {
	#navbar ul li {
		display: block;
	}

	#navbar ul li:hover ul {
		width: 100%;
		position: relative;
	}

	#homeHeader { 
		top: 800px;
		left: 0px;
	}

	#homeSub {
		top: 800px;
		left: 0px;
	}
	
}

/* Media Queries */

@media (max-width: 991.98px) {
	.hero-wrap .slider-text .v, .hero-wrap .slider-text .vr {
		display: none; } }
.hero-wrap .slider-text h1 {
	font-family: "Roboto Condensed", Arial, sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 120px;
	text-transform: uppercase; }
@media (max-width: 991.98px) {
	.hero-wrap .slider-text h1 {
		font-size: 50px; } }
.hero-wrap .slider-text h2 {
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	color: #fff; }
.hero-wrap .slider-text h2 span {
	position: relative; }
.hero-wrap .slider-text h2 span:before, .hero-wrap .slider-text h2 span:after {
	position: absolute;
	top: 50%;
	content: '';
	width: 30px;
	height: 1px;
	background: #fff; }
.hero-wrap .slider-text h2 span:before {
	left: -45px; }
.hero-wrap .slider-text h2 span:after {
	right: -45px; }
.hero-wrap .slider-text .breadcrumbs {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 0;
	z-index: 99; }
.hero-wrap .slider-text .breadcrumbs span {
	color: rgba(0, 0, 0, 0.7); }
.hero-wrap .slider-text .breadcrumbs span a {
	color: #000000; }
.hero-wrap .slider-text .bread {
	font-weight: 100;
	color: #000000;
	font-size: 40px;
	font-family: "Lato", Arial, sans-serif;
	letter-spacing: 3px; }
.hero-wrap .slider-text .btn-primary {
	border: 1px solid rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px; }
.hero-wrap .slider-text .btn-primary:hover, .hero-wrap .slider-text .btn-primary:focus {
	background: #fff !important;
	color: #000000; }
.hero-wrap.hero-bread {
	padding: 7em 0; }

